

.noti {
  background-color: var(--light1);
  color: var(--primary-color);
}

main {
  margin-top: 32px;
  padding: 0 40px;
  font-weight: 500;
}

/* nav bar */
.navbar {
  background-color: var(--light2);
}

.search-form {
  display: flex;
  align-items: stretch ;
}

.search-form input {
  height: 40px;
  min-width: 240px;
  border-radius: 8px 0 0 8px;
  padding: 0 30px;
}

.navbar .search-btn {
  background-color: var(--primary-color);
  color: var(--light2);
  padding-top: 8px;
  border-radius: 0 8px 8px 0;
  height: 40px;
}
.navbar .nav-link {
  color: #000;
}

.banner {
  display: flex;
  background-color: #fbf0e4;
  padding: 60px 80px;
}

.banner .text {
  width: 50%;
}

.banner .text h3{
  color: var(--primary-color);
  line-height: 1.5;
  font-weight: 600;
  font-size: 32px;

}

.banner .btn {
  padding: 4px 24px;
  background-color: var(--primary-color);
  color: var(--light1);
  border-radius: 999px;
  margin-top: 16px;
}

header .nav-item {
  padding: 0px 16px;
}


.product-actions {
    /*flex: 1;*/
    margin-top: auto;
    display: flex;
    gap: 8px;

}



.product-list .card-body{
    padding: 8px 0;
    margin-top: 12px;
}

.product-list .card {
    border: 1px solid var(--primary-color);
    height: 100%;
    border-radius: 8px;
}
.product-name {
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 600;
}
