{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='style/history.css')}}">
{% endblock extra_css %}
{% block title %}
Lịch sử mua hàng
{% endblock title %}
{% block content %}
<div class="container">
    <h3 class="mt-5">Lịch sử mua hàng</h3>

    <div class="history mt-5">
        {% for o in orders %}
        <div class="order">
            <div class="order-info">
                {% for d in o.details %}
                <div class="product">
                    <div class="product-img">
                        <img src="{{ d.product.image}}" alt="">
                    </div>
                    <div class="product-name">
                        {{ d.product.name }}
                    </div>
                    <div class="product-quantity">x{{ d.quantity }}</div>
                    <div class="product-price">
                        {{ d.quantity * d.product.price }} vnd
                    </div>
                    {% if d.is_review %}
                    <button class="btn secondary">Đã đánh giá</button>
                    {% else %}
                    <a href="/history?review={{o.id}}" class="btn primary" onclick="openModal()">Đánh giá sản phẩm</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="order-actions">
                Đã giao hàng
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="review-modal {% if not order_review %} hide {%endif%}" id="review-modal">
        <div class="review-wrapper">
            <h3>Đánh giá sản phẩm</h3>

            <div class="list-review">
                {% for d in order_review.details %}
                <div class="product-review">
                    <div class="product-review-infor">
                        <img src="{{ d.product.image }}" alt="">
                        <div class="align-right">
                            <h4>{{ d.product.name }}</h4>
                            <span>{{ d.product.price }} vnd</span>
                        </div>
                    </div>
                    <div class="product-review-form">
                        <input type="text" class="product-review-input" id="review-for-{{d.product.id}}"
                               placeholder="Đánh giá sản phẩm ..." >
                        {% if d.is_review %}
                        <button class="btn secondary">Đã đánh giá</button>
                        {% else %}
                        <button onclick="sendReview({{d.product.id}}, {{current_user.id}}, {{d.id}})"
                                class="btn primary">Gửi
                        </button>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
            </div>


            <div class="modal-actions">
                <a href="/history" class="btn secondary close-modal" onclick="closeModal()">Close</a>
            </div>
        </div>

    </div>
</div>

<script src=" {{ url_for('static', filename='js/review.js') }}"></script>
{% endblock content %} 