{% extends 'base.html' %}
{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='style/order.css')}}">
{% endblock extra_css %}
{% block title %}
Order
{% endblock title %}
{% block content %}
<div class="container">
    <h3 class="mt-5">Chi tiết đơn hàng</h3>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Thành tiền</th>
        </tr>

        </thead>
        <tbody>
        {% for p in details.values() %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ p['name'] }}</td>
            <td>{{ p.price}}</td>
            <td>{{ p.quantity}}</td>
            <td>{{ p.quantity * p.price}}</td>
        </tr>
        {% endfor %}

        <tr>
            <th colspan="4" scope="col">Tổng cộng</th>
            <td> {{total}} vnd</td>
        </tr>
        </tbody>
    </table>

    <div class="order-actions">
        <a onclick="buy({{ details }})" class="btn primary mt-5 d-inline"> Thanh toán</a>
    </div>
</div>

<script src=" {{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock content %} 