{% extends 'base.html' %}
{% block title %}
Details
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row detail-img">
        <div class="col-md-6">
            <img src="{{ product.image }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-md-6 detail-info">
            <h1>{{ product.name }} - Product Detail</h1>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            <p class="detail-seller">Seller: <a href="#">{{ product.seller.username }}</a></p>
            <div class="detail-actions">
                <div>
                    <button type="button" class="btn secondary" onclick="addToCart('{{ product.id }}')">
                        Add to cart
                    </button>
                    <button type="button" class="btn primary" onclick="buyNow('{{ product.id }}')">Buy now</button>
                </div>

                <a href="{{ url_for('index') }}" class="btn secondary">Back to Product List</a>
            </div>

        </div>


    </div>
</div>
{% endblock %}